#inicio
{
    color: var(--cor-nav-ativo);
}

.atus-banner-container
{
    background-image: url(/public/img/wallpaper-valenca.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative; /* Adicionado para garantir o position absolute do content */
}

.atus-banner-container .atus-banner-content
{
    position: absolute;
    bottom: 0;
    background-color: #ffffffd7;
    border-radius: 20px;
}

.atus-banner-content-secondary
{
    background-color: #ffffffd7;
    border-radius: 20px;
}

.custom-shape-divider-bottom-1710505427 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -50px;
    z-index: 1;
    color: var(--cor-nav-ativo)
}
  
.custom-shape-divider-bottom-1710505427 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}
  
.custom-shape-divider-bottom-1710505427 .shape-fill {
    fill: var(--cor-fundo-da-pagina);
}
  
.atus-servicos, .atus-equipe, .atus-empresa, .atus-documentos
{
    background-color: var(--cor-fundo-da-pagina);
}