/* Variáveis para facilitar ajustes */
:root {
    --cor-onda: #ea9e3b;
    --cor-fundo-translucido: #ffffffd7;
    --cor-nav-ativo: #ea9e3b;
}

#inicio { color: var(--cor-nav-ativo); }

/* Banner Principal */
.atus-banner-container {
    background-image: url(/public/img/wallpaper-valenca.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    min-height: 400px;
}

.atus-banner-content {
    background-color: var(--cor-fundo-translucido);
    border-radius: 20px;
    max-width: 600px;
}

/* Divisor de Onda */
.custom-shape-divider-bottom-1710505427 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -50px;
    z-index: 1;
}
  
.custom-shape-divider-bottom-1710505427 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

/* Blocos de Conteúdo (Sua Identidade Visual) */
.atus-informacoes, .atus-servicos, .atus-empresa {
    background-color: #f8f9fa; /* Fundo leve para destacar o branco */
}

.atus-banner-content-secondary {
    background-color: var(--cor-fundo-translucido);
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.05);
}

.tracking-wider { letter-spacing: 0.1rem; }

/* Tipografia */
h2, h3 { color: #2c3e50; }

.x-small { font-size: 0.8rem; }
.small { font-size: 1rem; }
.medium { font-size: 1.2rem; }
.large { font-size: 1.4rem; }
.x-large { font-size: 1.6rem; }
.xx-large { font-size: 1.8rem; }
.xxx-large { font-size: 2rem; }